{% extends 'base.html' %}
{% block content %}

    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
            <div class="col-md-8 col-lg-6">
                <div class="login d-flex align-items-center py-5">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-9 col-lg-8 mx-auto">
                                <h1 class="login-heading mb-4">Moj kalendar</h1>
                                <h3 class="login-heading mb-4">Resetovanje lozinke</h3>
                                <p>

                                    Poslali smo Vam uputstva kako da poništite lozinku
                                    ako postoji nalog sa e-poštom koju ste uneli.
                                    Trebali biste ih uskoro primiti.
                                </p>
                                <p>
                                    Ako niste primili e-poštu, provjerite jeste li naveli ispravnu
                                    adresu e-pošte na koju ste registrovani.
                                    Ne zaboravite provjeriti svoj spam folder.
                                </p>
                                <a href="{% url 'login' %}"
                                   class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2">Prijavi
                                    se</a>
                                <p style="margin-top: 128px;">
                                    <small>
                                        Photo by <a
                                            href="https://unsplash.com/@maddibazzocco">Maddi
                                        Bazzocco</a> on <a
                                            href="https://unsplash.com/s/photos/calendar-2023">Unsplash</a>
                                    </small>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}