{% extends 'base.html' %}
{% block content %}

    <div class="container-fluid">
  <div class="row no-gutter">
    <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
    <div class="col-md-8 col-lg-6">
      <div class="login d-flex align-items-center py-5">
        <div class="container">
          <div class="row">
            <div class="col-md-9 col-lg-8 mx-auto">
              <h1 class="login-heading mb-4">Moj kalendar</h1>
                <h3 class="login-heading mb-4">Resetovanje lozinke</h3>
              <form method="POST">{% csrf_token %}
                <div class="form-label-group">
                  <input type="email" id="inputEmail" name="email" class="form-control" placeholder="E-Mail adresa" required autofocus>
                  <label for="inputEmail">E-Mail adresa</label>
                </div>
                <button class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" type="submit">Resetovanje lozinke</button>
              </form>
                <p style="margin-top: 128px;">
                <small>
                    Photo by <a href="https://unsplash.com/@maddibazzocco">Maddi Bazzocco</a> on <a href="https://unsplash.com/s/photos/calendar-2023">Unsplash</a>
                </small>
                </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}